body{
    font-family: 'Courier New', Courier, monospace;
  }
  
  .ticket-card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin-bottom: 16px;
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .ticket-card:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }
  
  .ticket-card-initial {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  
  .ticket-card-loaded {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  
  
  /* EmailSubmissionForm.css */
  form {
    display: flex;
    flex-direction: column;
    align-items: left !important;
    justify-content: center;
    height: 100vh;
    overflow: auto; /* or overflow: scroll; */
    transition: opacity 0.5s ease-in-out;
  }
  
  input[type="email"]
  {
    width: 50%;
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 25px;
    font-size: 20px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    outline: none;
    transition: box-shadow 0.3s ease-in-out;
  }
  
  input[type="email"]:focus {
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);
  }
  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    background-color: black;
    color: white;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: darkgray;
  }
  
  
  