
/* Grid for stats */

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  
  .grid-item {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
  }
  
  /* Media query for screens smaller than 600px */
  @media (max-width: 600px) {
    .grid-container {
      grid-template-columns: 1fr;
    }
  }